.root {
    main-color: #e5d9f2;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #cdc1ff;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #a594f9;
    -fx-font: bold 16px "Arial";
}

.button:hover {
    -fx-font: italic bold 18px "Arial";
}

.button:pressed {
    -fx-background-color: black;
    -fx-font: italic bold 17px "Arial";
    -fx-text-fill: #a594f9;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}